:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background);
  color: var(--text);
}

img {
  max-width: 100%;
}

.country-border {
  display: inline-block;
}

.country-border + .country-border {
  margin-left: 0.5em;
}

.country-borders button {
  background-color: var(--mode);
  color: var(--text);
}

.head-bar {
  background-color: var(--mode);
}

.head-bar .container {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#switcher {
  color: var(--text);
  border: none;
  background: inherit;
  text-transform: capitalize;
}

h1 {
  font-size: 2rem;
}

#backBtn {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 2px solid #eeeeee;
  color: var(--text);
  padding: 0.5em 2em;
}

@media (min-width: 1200px) {
  #backBtn {
    margin-top: 4em;
    margin-bottom: 4em;
  }

  #flag-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;

    font-size: 0.875rem;
  }

  #wrapper-container {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

img {
  max-width: 100%;
}

#flag-wrapper img {
  height: 167px;
}

.card {
  background-color: var(--mode);
  max-width: 400px;
}

.country-list ul {
  list-style-type: none;
  padding: 0;
}

.country-list li {
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .country-borders {
    display: inline-block;
  }

  .country-list {
    display: flex;
    justify-content: space-between;
  }

  .country-list ul {
    width: 48%;
  }

  #country {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #country > div {
    width: 45%;
  }
}
